.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto;
    padding: -20px;
}

.flex-container> .section {
    background-color: #f1f1f1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size:55px;
    font-weight: 600;
}

.countbtn {
    border: none;
    background: none;
    text-decoration: underline;
    font-size: medium;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorbtn {
    margin-top: 10px;
    padding: 10px;
    background-color: aquamarine;
}